
head{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
}
/* ======Table======= */
table{
    text-align: center;
    table-layout: auto;
    border-spacing: 12px;
    border-radius: 0.5cm;
    th{
        font: 3em sans-serif;
        font-color: red;
    }
}